body {
    overflow-x: hidden;
}
header {
    height: 30em;
    width:100vw;
}
footer {
    width: 100vw;
}
.logo {
    width:7vw;
    min-width:7em;
    transition-duration: 0.5s;
}
#navButtonContainer {
    height: 100%;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    margin-left: 20vw;
}
#navButtonContainerContainer {
    float: right;
    margin-right: 0px;
}

#navButtonContainer span span {
    padding: 0.5em;
    cursor: pointer;
    color: white;
    margin: 0px auto;
    height: auto;
    transition-duration: 0.5s;
    font-size:1.25em;
    font-weight:bold;
}

    #navButtonContainer > span {
        transition-duration: 0.5s;
        display:flex;
        justify-content:center;
        height:100%;
        border:10px solid transparent;
    }

#bigNavbar {
    transition-duration: 0.5s;
    background: transparent;

}
    #customerImage {
    width: 15vw;
    min-width: 10em;
    display: block;
    margin: 0px auto;
}

#customerImage, #customerQuote {
    transition-duration: 1s;
}

#customerSlideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25em;
    width: 80vw;
    border-radius: 1em;
    background: #313531;
    margin: 0px auto;
}
#navbarContentContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#customerFeedback {
    color: white;
}

#customersTitle {
    text-align: center;
}

#customerQuote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#customerQuote p {
    font-style: italic;
    font-size: 1.25em;
    margin: 0px auto;
    display: block;
}

#customersConatiner {
    margin: 0px auto;
    display: flex;
    flex-direction:row;
}
#footer {
    background: #313531;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    color:white
}
#footer > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#socialMediaContainer {
    font-family: Verdana;
    font-size:1.5em;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    width:12.5vw;
}
#logoContainer{
    text-align:center;
}
#socialMediaContainer i{
    margin-top:0.5em;
    width:100%;
}
#socialMediaContainer i span {
    font-family: Calibri;
}
#followUs{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:1.5em;
}
#verticalLine {
    height: 100%;
    background: white;
    width: 0.125%;
    margin-left:0.5em;
}