@keyframes imgFloat {
    0% {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    33% {
        top: 1em;
    }

    66% {
        bottom: 1em;
    }

    100% {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


#welcome {
    margin: 0px auto;
    margin-top: 2em;
    text-align: center;
    color: white;
    font-size: 3em;
}

#marketingOne, #marketingTwo, #marketingThree, #marketingFour, #marketingFive {
    float: left;
    shape-outside: polygon(0 0, 100% 0, 0 100%, 80% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

#marketingOne, #marketingThree, #marketingFive {
    background: #313531;
}

#marketingTwo, #marketingFour {
    background: #006784;
}
.marketingSection {
    height: 25em;
    display: flex;
    align-items: center;
}

.marketingRow {
    height:25em;
    display: flex;
    align-items: center;
    color: white;
}

    .marketingRow img {
        position: relative;
        animation-name: imgFloat;
        animation-iteration-count: infinite;
    }

#marketingOneContainer img, #marketingFiveContainer img {
    width: 30vw;
    min-width: 20em;
    animation-duration: 2s;
}

#marketingTwoContainer img {
    width: 37.5vw;
    min-width: 30em;
    animation-duration: 2.5s;
}

#marketingThreeContainer img, #marketingFourContainer img {
    width: 25vw;
    min-width: 20em;
    animation-duration: 2.25s;
}

#marketingOneContainer, #marketingThreeContainer, #marketingFiveContainer {
    background: #006784
}

#marketingTwoContainer, #marketingFourContainer {
    background: #313531;
}

.imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
